@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Learning Web" />
    <meta name="keywords" content="wild, paws, dog, food" />
    <meta name="author" content="Georgi Topalov" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/site.css">
    <!-- Google Font: Source Sans Pro -->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins&display=swap"
      rel="stylesheet"
    />
    <partial name="_ValidationScriptsPartial" />

</head>

<body >
     <main>
        <section id="login">
          <div class="card card-color-white">
            <div class="login-box-body">
              <h4>Sign in here</h4>
              <hr />
              <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="validation-text">
                </div>
                <div class="input-group">
                  <div class="input-row">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="1.5em"
                      viewBox="0 0 512 512"
                    >
                      <path
                        d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
                      />
                    </svg>
                    <input
                      asp-for="Input.Email"
                      autocomplete="username"
                      placeholder="Username"
                      aria-required="true"
                    />
                  </div>
                  <span
                    asp-validation-for="Input.Email"
                    class="validation-text"
                  ></span>
                </div>
                <div class="input-group">
                  <div class="input-row">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      height="1.5em"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"
                      />
                    </svg>
                    <input
                      asp-for="Input.Password"
                      autocomplete="current-password"
                      placeholder="Password"
                      aria-required="true"
                    />
                  </div>
                  <span
                    asp-validation-for="Input.Password"
                    class="validation-text"
                  ></span>
                </div>
                <div>
                  <label asp-for="Input.RememberMe">
                    <input
                      type="checkbox"
                      id="remember"
                      asp-for="Input.RememberMe"
                    />
                     @Html.DisplayNameFor(m => m.Input.RememberMe)
                  </label>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
              </form>
              <section id="alternative-login">
                <p>- Or Sign In With-</p>
                <hr/>
                @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                            {
                                <div>
                                    <p>
                                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                            article
                                            about setting up this ASP.NET application to support logging in via external services
                                        </a>.
                                    </p>
                                </div>
                            }
                            else
                            {
                <form
                  id="external-account"
                  asp-page="./ExternalLogin"
                  asp-route-returnUrl="@Model.ReturnUrl"
                  method="post"
                >
                  <div>
                    <p>
                      @*@foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-fb" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><i class="fab fa-facebook mr-2"></i>@provider.DisplayName</button>
                            } *@
                      <button
                        type="submit"
                        class="btn btn-fb"
                        name="provider"
                        value="Facebook"
                        title="Log in using your Facebook account"
                      >
                        Facebook
                      </button>
                    </p>
                  </div>
                </form>
                }
                }
                <p>
                  <a id="forgot-password" asp-page="./ForgotPassword"
                    >Forgot your password?</a>
                </p>
                <p>
                  <a
                    asp-page="./Register"
                    asp-route-returnUrl="@Model.ReturnUrl"
                    >Register as a new user</a>
                </p>
              </section>
            </div>
          </div>
        </section>
      </main>
</body>
</html>



@*<div class="col-md-6 col-md-offset-2">
    <section>
    <h3>Use another service to log in.</h3>
    <hr />
    @{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    <div>
    <p>
    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
    article
    about setting up this ASP.NET application to support logging in via external services
    </a>.
    </p>
    </div>
    }
    else
    {
    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
    <p>
    @foreach (var provider in Model.ExternalLogins!)
    {
    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
    }
    </p>
    </div>
    </form>
    }
    }
    </section>
    </div>*@

@*@section Scripts {
    }*@
